
body{
	margin: 0;
	paddin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	background-color: #1b1b1b;
}

input{
	outline: none;
}

.pixelated{
	image-rendering: pixelated;
}

#panelWrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	color: #888888;
	background-color: #141414;
}

#panelSpacer{
	height: 4px;
	width: 100%;
}

#menuButtonsWrapper{
	width: 30px;
	height: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #1b1b1b;
}
#menuButtonsWrapper::-webkit-scrollbar{
    display: none;
}
.menuButton{
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	cursor: pointer;
}
.menuButtonSelected{
	background-color: #4e4e4e;
	border-radius: 7px;
}
#playMenuButton{
	background-image: url("icons/900-play.png");
}
#settingsMenuButton{
	background-image: url("icons/900-settings.png");
}
#worldMenuButton{
	background-image: url("icons/900-music.png"); /* using the music icon until I figure out what I really want to use here */
}
#hiscoresMenuButton{
	background-image: url("icons/900-hiscores.png");
}

#menuDisplayAreaWrapper{
	width: calc(100% - 30px);
	height: 100%;
	overflow-y: scroll;
}
#menuDisplayAreaWrapper::-webkit-scrollbar{
    display: none;
}
.menuDisplayArea{
	margin: 4px;
}
.hidden{
	display: none;
}

.centerText{
	text-align: center;
}
.displayAreaHalfWidthElement{
	width: 103px;
	height: 21px;
	padding: 4px;
	border-radius: 1px;
	background-color: #222222;
}
.displayAreaFullWidthElement{
	width: 221px;
	height: 21px;
	padding: 2px;
	margin-bottom: 4px;
	border-radius: 1px;
	background-color: #222222;
}
.displayAreaFullWidthElement>label{
	cursor: pointer;
}
.displayAreaFullWidthElement>input[type=checkbox]{
	cursor: pointer;
}
.displayAreaFullWidthElement>input[type=text]{
	height: 19px;
	width: 188px;
	font-size: 16px;
	line-height: 16px;
	color: #555555;
	background-color: #141414;
	padding: 0px 2px;
	border: none;
	left: 4px;
	position: relative;
}

.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}

.defaultCursor{
	cursor: default;
}

#playButton{
	cursor: pointer;
}

.noSelect{
	user-select: none;
}

#settingScreenshotPathButton{
	border: none;
	width: 19px;
	height: 19px;
	text-align: center;
	padding: 0;
	background: rgba(0,0,0,0);
	margin-left: 2px;
	top: -2px;
	position: relative;
	cursor: pointer;
}
